.my-topheader a:hover {
  transition: all 0.55s ease-in;
  color: rgb(196, 196, 238);
}

/* .nav-dropdown {
  color: #49326b;
  background-color: #f7f6f8;
  border-bottom: 1px solid #49326b;
}

.nav-dropdown:hover {
  background-color: #49326b;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
} */

.nav-link:hover {
  background-color: #c5c4c7;
  padding: 5px;
  border-radius: 5px;
}